<p>
  <b>Skill 1:</b>
  <%= @skill_build.skill_1 %>
</p>

<p>
  <b>Skill 2:</b>
  <%= @skill_build.skill_2 %>
</p>

<p>
  <b>Skill 3:</b>
  <%= @skill_build.skill_3 %>
</p>

<p>
  <b>Skill 4:</b>
  <%= @skill_build.skill_4 %>
</p>

<p>
  <b>Skill 5:</b>
  <%= @skill_build.skill_5 %>
</p>

<p>
  <b>Skill 6:</b>
  <%= @skill_build.skill_6 %>
</p>

<p>
  <b>Skill 7:</b>
  <%= @skill_build.skill_7 %>
</p>

<p>
  <b>Skill 8:</b>
  <%= @skill_build.skill_8 %>
</p>

<p>
  <b>Skill 9:</b>
  <%= @skill_build.skill_9 %>
</p>

<p>
  <b>Skill 10:</b>
  <%= @skill_build.skill_10 %>
</p>

<p>
  <b>Skill 11:</b>
  <%= @skill_build.skill_11 %>
</p>

<p>
  <b>Skill 12:</b>
  <%= @skill_build.skill_12 %>
</p>

<p>
  <b>Skill 13:</b>
  <%= @skill_build.skill_13 %>
</p>

<p>
  <b>Skill 14:</b>
  <%= @skill_build.skill_14 %>
</p>

<p>
  <b>Skill 15:</b>
  <%= @skill_build.skill_15 %>
</p>

<p>
  <b>Skill 16:</b>
  <%= @skill_build.skill_16 %>
</p>

<p>
  <b>Skill 17:</b>
  <%= @skill_build.skill_17 %>
</p>

<p>
  <b>Skill 18:</b>
  <%= @skill_build.skill_18 %>
</p>

<p>
  <b>Skill 19:</b>
  <%= @skill_build.skill_19 %>
</p>

<p>
  <b>Skill 20:</b>
  <%= @skill_build.skill_20 %>
</p>

<p>
  <b>Skill 21:</b>
  <%= @skill_build.skill_21 %>
</p>

<p>
  <b>Skill 22:</b>
  <%= @skill_build.skill_22 %>
</p>

<p>
  <b>Skill 23:</b>
  <%= @skill_build.skill_23 %>
</p>

<p>
  <b>Skill 24:</b>
  <%= @skill_build.skill_24 %>
</p>

<p>
  <b>Skill 25:</b>
  <%= @skill_build.skill_25 %>
</p>

<p>
  <b>Reasoning:</b>
<p><%=raw @skill_build.reasoning %></p>
</p>