<%= form_for([@strategy_guide, @remote_video_content]) do |f| %>
  <% if @remote_video_content.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@remote_video_content.errors.count, "error") %> prohibited this remote_video_content from being saved:</h2>
      <ul>
        <% @remote_video_content.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :video_name %><br />
    <%= f.text_field :video_name %>
  </div>

  <%= link_to_function "Embedded Video", "showDiv('embedded'); hideDiv('not-embedded')"  %> ---
  <%= link_to_function "Video URL", "showDiv('not-embedded'); hideDiv('embedded')"  %>
  <div id="not-embedded">
    <div class="field">
      <%= f.label :video_type %><br />
      <%= f.text_field :video_type %>
    </div>
    <div class="field">
      <%= f.label :video_url %><br />
      <%= f.text_field :video_url %>
    </div>
    <div class="field">
      <%= f.label :video_alt_url %><br />
      <%= f.text_field :video_alt_url %>
    </div>
  </div>
  <div id="embedded">
    <div class="field">
      <%= f.label :video_embedded %><br />
      <%= f.text_field :video_embedded %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => "Please Wait..." %>
  </div>
<% end %>
