<%= form_for(@strategy_guide) do |f| %>
  <% if @strategy_guide.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@strategy_guide.errors.count, "error") %> prohibited this strategy_guide from being saved:</h2>
      <ul>
        <% @strategy_guide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hero_id %><br />
    <%= f.select :hero_id, @heroes, {:include_blank => 'Choose a Hero...'}  %>
  </div>

<h3>Hero Pros and Cons</h3>
  <div class="field">
    <% f.fields_for :hero_cons do |cons_fields| %>

      <div class="field">
        <%= cons_fields.label :description, "Hero Con:" %><br />
        <%= cons_fields.text_field :description, :size => "100" %> &nbsp; Delete?
        <%= cons_fields.check_box :_destroy %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <% f.fields_for :hero_pros do |pros_fields| %>

      <div class="field">
        <%= pros_fields.label :description, "Hero Pro:" %><br />
        <%= pros_fields.text_field :description, :size => "100" %> &nbsp; Delete?
        <%= pros_fields.check_box :_destroy %>
      </div>
    <% end %>
  </div>


  <div class="field">
    <%= f.label :about_this_guide %><br />
    <%= f.text_area :about_this_guide %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
