<%= form_for setup_strategy_guide(@strategy_guide) do |f| %>
  <% if @strategy_guide.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@strategy_guide.errors.count, "error") %> prohibited this strategy_guide from being saved:</h2>
      <ul>
        <% @strategy_guide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hero_id %><br />
    <%= f.select :hero_id, @heroes, {:include_blank => 'Choose a Hero...'}  %>
  </div>

  <h3>Hero Pros and Cons</h3>

  <fieldset>
    <legend>Hero Cons</legend>
    <div id="hero_cons">
      <%= f.fields_for :hero_cons do |cons_form| %>
        <%= render 'hero_con', :f => cons_form %>
      <% end %>
    </div>
    <%= link_to_new_nested_form "Add a Hero Con", f, :hero_cons %>
  </fieldset>

  <fieldset>
    <legend>Hero Pros</legend>
    <div id="hero_pros">
      <%= f.fields_for :hero_pros do |pros_form| %>
        <%= render 'hero_pro', :f => pros_form %>
      <% end %>
    </div>
    <%= link_to_new_nested_form "Add a Hero Pro", f, :hero_pros %>
  </fieldset>

  <div class="field">
    <%= f.label :about_this_guide %><br />
    <%= f.text_area :about_this_guide %>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => "Please Wait..." %>
  </div>
<% end %>
