<%= form_for([@strategy_guide, @text_content]) do |f| %>
  <% if @text_content.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@text_content.errors.count, "error") %> prohibited this text_content from being saved:</h2>
    <ul>
    <% @text_content.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :text_content %><br />
    <%= f.cktext_area :text_content, :toolbar => 'Easy' %>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => "Please Wait..." %>
  </div>
<% end %>
