<h1>Listing hero_pros</h1>

<table>
  <tr>
    <th>Strategy guide</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hero_pros.each do |hero_pro| %>
  <tr>
    <td><%= hero_pro.strategy_guide %></td>
    <td><%= hero_pro.description %></td>
    <td><%= link_to 'Show', hero_pro %></td>
    <td><%= link_to 'Edit', edit_hero_pro_path(hero_pro) %></td>
    <td><%= link_to 'Destroy', hero_pro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hero pro', new_hero_pro_path %>
