<h1>Listing hero_cons</h1>

<table>
  <tr>
    <th>Strategy guide</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hero_cons.each do |hero_con| %>
  <tr>
    <td><%= hero_con.strategy_guide %></td>
    <td><%= hero_con.description %></td>
    <td><%= link_to 'Show', hero_con %></td>
    <td><%= link_to 'Edit', edit_hero_con_path(hero_con) %></td>
    <td><%= link_to 'Destroy', hero_con, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hero con', new_hero_con_path %>
