<%= form_for([@strategy_guide, @remote_image_content]) do |f| %>
  <% if @remote_image_content.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@remote_image_content.errors.count, "error") %> prohibited this remote_image_content from being saved:</h2>
      <ul>
        <% @remote_image_content.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_name %><br />
    <%= f.text_field :image_name %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="actions">
    <%= f.submit :disable_with => "Please Wait..." %>
  </div>
<% end %>
