<h1>Listing remote_image_contents</h1>

<table>
  <tr>
    <th>Image name</th>
    <th>Image type</th>
    <th>Image size</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @remote_image_contents.each do |remote_image_content| %>
  <tr>
    <td><%= remote_image_content.image_name %></td>
    <td><%= remote_image_content.image_type %></td>
    <td><%= remote_image_content.image_size %></td>
    <td><%= remote_image_content.image_url %></td>
    <td><%= link_to 'Show', remote_image_content %></td>
    <td><%= link_to 'Edit', edit_remote_image_content_path(remote_image_content) %></td>
    <td><%= link_to 'Destroy', remote_image_content, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Remote image content', new_remote_image_content_path %>
